<h1>ruby-lang.org mailing list service/subscriber</h1>

<div id="content">

<form action="submit" id="subscriptions-form" method="post">
  <table>
  <tbody>
    <tr>
      <td>Mailing List</td>
      <td>
        <select name="list">
          <option value="ruby-talk">Ruby-Talk</option>
          <option value="ruby-core">Ruby-Core</option>
          <option value="ruby-doc">Ruby-Doc</option>
          <option value="ruby-cvs">Ruby-CVS</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>First Name</td>
      <td><input name="first_name" value="" /></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><input name="last_name" value="" /></td>
    </tr>
    <tr>
      <td>Email Address</td>
      <td><input name="email" value="" /></td>
    </tr>
    <tr>
      <td>Action</td>
      <td>
        <select name="action">
          <option value="subscribe">Subscribe</option>
          <option value="unsubscribe">Unsubscribe</option>
        </select>
      </td>
    </tr>
  </tbody>
  </table>

  <input type="submit" value="Submit Form" />
</form>

</div>
