<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ruby-lang.org mailing list service/subscriber</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

<%= yield %>

</body>
</html>
