<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ruby-lang.org mailing list service/subscriber</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

<%= yield %>

</body>
<footer>
  <hr>
  <p>More information on <a href="http://www.ruby-lang.org/en/community/mailing-lists">www.ruby-lang.org</a>
  &nbsp;|&nbsp;
  View the source of this service on <a href="https://github.com/stomar/ruby-lang-mls">GitHub</a></p>
</footer>
</html>
