/*** reset all ***/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav,
section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*** for old browsers (new HTML5 tags) ***/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/*** general behavior ***/

/* focus: outline visible for users tabbing through the page
a { outline: none; }
a:focus { outline: red thin dotted; } */

/*** fonts and colors ***/

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

body > h1:first-child {
  font-family: Georgia, Palatino, "Times New Roman", Times, serif;
  font-size: 200%;
  font-weight: normal;
  color: white;
  background-color: #346090;
  background:    -moz-linear-gradient(left, #346090, #77a1d1);
  background:     -ms-linear-gradient(left, #346090, #77a1d1);
  background:      -o-linear-gradient(left, #346090, #77a1d1);
  background: -webkit-linear-gradient(left, #346090, #77a1d1);
  background: linear-gradient(to right, #346090, #77a1d1);
}

h1, h2, h3 {
  font-size: larger;
}

footer {
  font-size: small;
}

a {
  color: #3256B6;
}

a:visited {
  color: #7130B8;
}

a:hover, a:visited:hover {
  color: #C61A1A;
  text-decoration: none;
}

/*** Padding and margins ***/

body > h1:first-child {
  padding: 2ex 5%;
}

#content {
  padding: 2ex 5%;
}

h1, h2, h3, h4, h5, h6 {
  padding: 2ex 0px;
}

p {
  padding: .5ex 0px;
}

footer {
  padding: 3ex 5%;
}

/* tables */

table {
  padding: 1ex 0px;
  border-spacing: 0px 10px;
}

td, th {
  text-align: left;
  padding-left: 25px;
}

td:first-child, th:first-child {
  padding-left: 0px;
}

/* forms */

form {
  padding: 1ex 0px;
}

input:not([type='submit']) { border: 2px solid #999; }
input:not([type='submit']):focus { border: 2px solid #6C6; }
/* input:not([type='submit']):invalid { border: 2px solid #F00; } */
